################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/SimaticArcorWebApi/obj
/SimaticArcorWebApiTest/obj
/SimaticArcorWebApi/bin
/SimaticArcorWebApi/appsettings.arcloud-pdr.json
/SimaticArcorWebApi/appsettings.arcloud-development.json
/SimaticArcorWebApi/appsettings.json
/SimaticArcorWebApi/appsettings.arcloud-dev.json
/SimaticArcorWebApi/appsettings.arcloud-development.json
/SimaticArcorWebApi/appsettings.json
